@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
*{
    font-family: "Exo", sans-serif;
    color: whitesmoke;
}
html{
    margin: 0;
    height: 100%;
    background-color: black;
}
#back-image{
    background: url('https://i.pinimg.com/736x/e7/91/23/e791230f38e2cfcae224716bb987901c.jpg');
    opacity: 25%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border: 0;
    margin: 0;
    z-index: -1;
    box-shadow: 25px 25px 50px 0 black inset, -25px -25px 50px 0 black inset; 
}
.title{
    margin-left: 5px;
}
.macro-header{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.macro-header a{
    display: block;
    font-weight: 700;
}
.sep-bar{
    border-top: 2px solid whitesmoke;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
#new-goal{
    font-size: 20px;
    display: block;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}
.backlink{
    display: block;
    text-align: center;
    font-weight: 700;
    margin: auto;
}
/* footer*/

.footerContainer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #efefefbf;
    color: #000000;
    margin: 0 50px 0 0;
    font-size: 0.8em;
    padding: 20px 0;
}

footer>nav {
    padding: 0;
    margin: 0;
}

footer>nav>menu {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

footer>nav>menu>li>a {
    color: #000000;
    text-decoration: none;
    padding: 0 10px;
}
footer>div {
    text-align: center;
}
.button{
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    width: 50%;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding-bottom:5px;
}
.form label{
    display: block;
}
.form input{
    display: inline-block;
    font-size: 15px;
    height: 30px;
    width: 80%;
    margin-bottom: 10px;
    background-color: rgba(219, 197, 208, 0.25);
    color: whitesmoke;
    border-radius: 12px;
    border: 0.5px solid grey;
    padding-left: 5px;
}
.form div{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form .button{
    margin-top: 10px;
    width: auto;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}
.macro-grid{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.macro-item{
    margin: 0 10px 0 10px;
    display: block;
    flex-basis: 40%;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    width: auto;
    padding: 5px 0 5px 0;

}
.bold{
    font-weight: 700;
}

#ourTrainers-back{
    background: url('https://img.freepik.com/premium-photo/dark-gym-with-barbells-weights-floor_899870-20207.jpg');
    opacity: 25%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border: 0;
    margin: 0;
    z-index: -1;
    box-shadow: 25px 25px 50px 0 black inset, -25px -25px 50px 0 black inset;
}
.ourTrainers-header{
    margin-left: 5px;
}
.ourTrainers-header p{
    font-style: italic;
}
.user-item{
    border: 1px solid whitesmoke;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}
.user-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.user-top > form > button{
    background: none;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px;
}
.user-sep{
    border: 1px solid whitesmoke;
    width: 30%;
    margin-top: 5px;
    margin-bottom:5px;
}
.user-item p{
    margin-top: 15px;
}
.user-item .user-email{
    font-style: italic;
}

.macro-achieved-container{
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

#workout-list{
    padding-left: 0;
}
.workout-day{
    list-style: none;
    margin: 25px 0;
}
.workout-day-title{
    text-decoration: underline;
    text-align: center;
}
.workout-day-content{
    text-align: left;
    display: none;
}
.workout-day-content h4{
    margin-bottom: 0;
}
.workout-day-content p{
    margin-top: 0;
}
.toggle-workout{
    width: auto;
    cursor: pointer;
    display: block;
    text-align: center;
    font-weight: 700;
}
.selected-day, .workout-item{
    border-radius: 5px;
    border: 1px solid whitesmoke;
}
.workout-item{
    padding-left: 10px;
}
.remove-workout{
    background-color: #00000000;
    border: none;
    display: block;
    position: relative;
    float: right;
    color: red;
    font-weight: 700;
    margin-right: 5px;
    margin-top: 5px;
}